<div class="mobile-menu">
	
	<a id="mobileMenuButton" {{action 'togglePopMenu' on="click"}}><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> </a> 
	<div id="popMenu">
		<ul class="list-mobile-nav-menu">
			<li>{{#link-to 'index'}}Home{{/link-to}}</li>
			<li>{{#link-to 'about'}}About{{/link-to}}</li>
			<li>{{#link-to 'catalog'}}Products{{/link-to}}</li>
			<li>{{#link-to 'recipes'}}Recipes{{/link-to}}</li>
			<li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
			<li id="catalogDownloadButton"><a href="/assets/pdf/delsur-products-catalog2.pdf" target="_blank">View Catalog</a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>