<div id="socialMediaIconsWrapper">
	<div id="fbIcon">
		<a href="https://www.facebook.com/DelSurUSA">
			<img src="assets/images/fb-icon.png">
		</a>
	</div>
	<div id="pinterestIcon">
		<a href="https://www.pinterest.com/delsurusa/">
			<img src="assets/images/pintrest-icon.png">
		</a>
	</div>
	<div id="instagramIcon">
		<a href="https://instagram.com/delsurusa/">
			<img src="assets/images/ig-icon.png">
		</a>
	</div>
</div>