@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(/assets/fonts/Gotham-XLight.otf);
@import 'inc/_header.scss';
@import 'inc/_defaults.scss';
@import 'catalog.scss';
@import 'about.scss';
@import 'contact.scss';
@import 'recipe.scss';

h1,h2,h3,h4,h5,h6,p,td,span,a,li{
	font-family: 'Gotham-XLight';
}

/*******************************/
/* INDEX */
/******************************/
#mainBanner{
	background: url('/assets/images/main-bg.jpg');
  width: 100%;
  height: 869px;
	background-position:center -211px;

	.banner-quote-wrapper{
		background: rgba(255,255,255,.9);
    width:100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40%;
		padding:15px;

		.quote-wrapper{
			border: solid 2px #746d69;
			padding: 20px 0;

			h1{
				padding: 0;
				margin: 0;
				font-family: 'Amatic SC', cursive;
				font-size: 60px;
				margin-left: 13%;
				span{
					font-family: 'Amatic SC', cursive;
					color: #a0b61e;
					position: absolute;

					.liquid-outlet {
						display: inline-block;
						vertical-align: top;
				    }
				    .liquid-child {
				        /* This prevents a slight horizontal wobble in firefox. */
				        width: 10em;
				    }
				}
			}
		}
	}

	.main-banner-buttons-wrapper{
		text-align: center;
    margin-top: 16%;

		button{
			text-align: center;
			font-family: 'Amatic SC', cursive;
			color: #fff;
			font-size: 45px;
			background: rgba(0,0,0,.5);
			border: none;
			padding: 0 15px;
		}
	}
}

#ourPhilosophyWrapper{
	padding: 60px;
	padding-bottom: 90px;

	.gmo-free-badges-wrapper{
		text-align: center;
		margin-top: 5%;

		img{
			width: 100%;
		}
	}
}

#indexRecipesWrapper{
	background: url('/assets/images/recepies-bg.jpg');
	width: 100%;
  	padding-top: 60px;
  	padding-bottom: 60px;

	.index-recipe-images-wrapper{
	  	a:hover img{
			border-color: #d5ee47;
			z-index: 99;
		}
		img{
			float: left;
		  	border: solid 12px rgba(0, 0, 0, 0.1);
			border-radius: 50%;
		  	width: calc(20% + 12px);
		  	margin: 0 -6px 0 -6px;
		}
		img.active{
			border-color: #d5ee47;
			z-index: 99;
		}

	}

	.index-recipe-details{
		margin-top: 220px;
		padding: 20px;
		h2{
			font-family: 'Amatic SC', cursive;
			text-align: center;
		}
		p{
			font-style: italic;
		}
	}
}

#indexCallToActionWrapper{
	background: url('/assets/images/cta-parallax-banner.jpg');
	width: 100%;

	h1{
		font-family: 'Amatic SC', cursive;
	    text-align: center;
	    color: #fff;
	    font-size: 65px;
	}

	.call-to-action-input{
		text-align: center;
		margin-bottom: 30px;

		input{
			border-color: #c4da44;
			background: rgba(255,255,255,.2);
			border-radius: 0;
			color: #fff;
		}

		::-webkit-input-placeholder {
		   color: #fff;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: #fff;

		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: #fff;

		}

		:-ms-input-placeholder {
		   color: #fff;

		}

		.index-cta-btn{
			border-radius: 0;
			margin-left: -4px;
  			height: 34px;
  			background: #c4da44;
  			color: #fff;
  			border-color: #c4da44;
		}
	}
}

#indexOurProductsWrapper{
	background: url('/assets/images/catalog-bg.jpg');
	width: 100%;
	border-bottom: solid 4px #e3e4e1;
  	padding-bottom: 50px;

	.section-title{
		margin-top: 100px;
	}

	.section-content{
		img{
			width: 100%;
		}

		button{
			margin: 50px;
			background: #c4da44;
  			color: #fff;
  			border-color: #c4da44;
  			border-radius: 0;
  			font-style: italic;
  			padding: 10px 40px;
		}
	}
}

footer{
	background: #c4da44;
	height: 55px;
}
