#catalogBanner{
	background: url('/assets/images/ctalog-main-bk.jpg');
	width: 100%;
	padding-bottom: 40px;

  .catalog-title-banner{
    cursor: pointer;
  }

	.catalog-banner-title{
		text-align: center;
		margin-top: 20%;
    cursor: pointer;

		h3, h1{
			font-family: 'Amatic SC', cursive;
		}

		h3{
			font-size: 35px;
		}

		h1{
			font-size: 65px;
			color: #fff;
			margin-top: -1%;
		}
	}

	.list-catalog-banner-categories{
		list-style-type: none;

		li{
			text-align: center;
			display: inline-block;
			max-width: 12.1%;
			margin: 0 1%;
			padding: 0;
			img{
				width: 80%;
			}
			p{
				font-style: italic;
				color: #fff;
				margin-top: 10px;
			}
		}
	}
}

#ember538 .panel-title{
  text-align: center;
  color: #fff;
  font-size: 100px;
  font-family: 'Amatic SC', cursive;
  padding: 15px;
  margin-bottom: 0;
  margin-top: 0;

  a{
  font-family: 'Amatic SC', cursive;
  }
}

.expanded-product-wrapper {
  padding-bottom: 70px;
}

.product-info-wrapper {
  p{
    margin: 24px 0 24px 0;
    font-size: 20px;
    font-style: italic;
    line-height: 34px;
    font-weight: 300;
  }
  button {
    padding: 10px 20px;
    /* border: #A3B825 solid 2px; */
    color: #fff;
    margin: -4px 0 0 10px;
    font-size: 16px;
    background: #BDD52D;
    border-radius: 0;
    margin:0 15px 0 0;
    a {
      color: #fff;
    }
  }
}

.catalog-body-padding {
  margin: 80px 0;
}

.catalog-title-banner{
	h1{
		text-align: center;
		color: #fff;
		font-size: 100px;
		font-family: 'Amatic SC', cursive;
		padding: 15px;
		margin-bottom: 0;
    margin-top: 0;
    -webkit-transition: 0.2s; /* Safari */
    transition: 0.2s;
	}
}

.catalog-title-banner:hover{
  background-size: 110%;
}

.ind-product-wrapper{
  .thumbnailImage {
    width: 20%;
    margin: 5%;
  }

  p{
    color: #333;
  }
}


#fruitTitle{
  background: url('/assets/images/catalog-cta-bg.jpg');
  margin: 0 !important;
}

#peruTitle{
  background: url('/assets/images/catalog-cta-peru-bg.jpg');
  margin: 0 !important;
}

#bakingTitle{
  background: url('/assets/images/catalog-cta-baking-bg.jpg');
  margin: 0 !important;
}

#beansTitle{
  background: url('/assets/images/catalog-cta-beans-bg.jpg');
  margin: 0 !important;
}

.catalog-title-banner{
  cursor: pointer !important;
  margin: 2px 0 !important;
}

#saltyTitle{
  background: url('/assets/images/catalog/banners/salty-title.png');
  margin: 0 !important;
}

#oilTitle{
  background: url('/assets/images/catalog/banners/oil-title.png');
  margin: 0 !important;
}

#milkTitle{
  background: url('/assets/images/catalog/banners/milk-title.png');
  margin: 0 !important;
}

#riceTitle{
  background: url('/assets/images/catalog/banners/rice-title.png');
  margin: 0 !important;
}

#sugarTitle{
  background: url('/assets/images/catalog/banners/sugar.png');
  margin: 0 !important;
}

#pastaTitle{
  background: url('/assets/images/catalog/banners/pasta-title.png');
  margin: 0 !important;
}

#condimentsTitle{
  background: url('/assets/images/catalog/banners/condiments-title.png');
  margin: 0 !important;
}

#sweetsTitle{
  background: url('/assets/images/catalog/banners/sweets.png');
  margin: 0 !important;
}

#spicesTitle{
  background: url('/assets/images/catalog/banners/spices-title.png');
  margin: 0 !important;
}

#frozenTitle{
  background: url('/assets/images/catalog/banners/frozen-title.png');
  margin: 0 !important;
}




.catalog-categories-body{

  margin: 2px 0;

  .ind-product-wrapper{
	text-align: center;

	h5{
	  color: #d25a5d;
	  font-size: 22px;
	  font-weight: 100;
	}
  }
}

#displayProductsFruitWrapper {
  background: url('/assets/images/catalog-product-bk.jpg');
}

#displayProductsPeruWrapper {
  background: url('/assets/images/catalog-product-peru-bk.jpg');
}

#displayProductsBakingWrapper {
  background: url('/assets/images/catalog-product-baking-bk.jpg');
  background-position: 0 -200px;
}

#displayProductsBeansWrapper {
  background: url('/assets/images/catalog-product-beans-bk.jpg');
}

#displayProductsSaltyWrapper {
  background: url('/assets/images/catalog/body/salty.png');
  background-position: 0 -500px;
}

#displayProductsOilWrapper {
  background: url('/assets/images/catalog/body/oil.png');
  background-position: 0 -300px;
}

#displayProductsMilkWrapper {
  background: url('/assets/images/catalog/body/milk.png');
  background-position: 0 -500px;
}

#displayProductsRiceWrapper {
  background: url('/assets/images/catalog/body/rice.png');
  background-position: 0 -400px;
}

#displayProductsSugarWrapper {
  background: url('/assets/images/catalog/body/sugar.png');
}

#displayProductsPastaWrapper {
  background: url('/assets/images/catalog/body/pasta.png');
  background-position: 0 -200px;
}

#displayProductsCondimentsWrapper {
  background: url('/assets/images/catalog/body/condiments.png');
}

#displayProductsSweetsWrapper {
  background: url('/assets/images/catalog/body/sweets.png');
}

#displayProductsPeppersWrapper {
   background: url('/assets/images/catalog/body/spices.png');
 }

#displayProductsFrozenWrapper {
  background: url('/assets/images/catalog/body/frozen.png');
}


