$break-large: 1200px;
$break-medium: 992px;

.contact-page-form-wrapper{
  background: url('/assets/images/contact-bk.jpg');
  width: 100%;
  margin-top: -1%;
}
#contactComponentWrapper{
  .section-title{
    margin-top: 90px;
  }

  .section-description{
    a{
      color: #c4da44
    }
  }

  .contact-info-wrapper{
    ul{
      li{
        i{
          font-size: 36px;
          color: #D3E27B;
          padding: 16px;
        }
      }
    }
  }

  .list-delsure-info{
    list-style-type: none;

    li{
      display: inline-block;
      margin: 0 3em;
      color: #333333;
      font-weight: 100;
      text-align: center;
      width: 11em;
      font-size: 16px;

      @media screen and (max-width: $break-large) {
        margin: 0;
        width: 32%;
      }

      @media screen and (max-width: $break-medium) {
        font-size: 15px;
      }
      
    }
  }
}

.contact-form-wrapper{
  margin-top: 50px;
  margin-bottom: 100px;

  input{
    border-radius: 5px;
    font-size: 18px;
    border: solid 2px #E4E4E4;
    padding: 21px 15px;
    margin: 22px 0;
    font-weight: 300;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .00);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }

  textarea{
    border-radius: 5px;
    font-size: 18px;
    border: solid 2px #E4E4E4;
    padding: 10px 15px;
    font-weight: 300;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .00);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    height: 200px;
  }

  .contact-form-btn{
    width: 100%;
    border: none;
    background: #c4da44;
    color: #fff;
    padding: 10px 15px;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
  }
}

#contactWrapper {
  .section-title {
    margin-top: 250px;
    @media screen and (max-width: $break-large) {
        margin-top: 150px;
      }
    }
}


.list-contact-info{
  width: 100%;
	li {
    width: 5em;
    height: 5em;
    text-align: center;
    line-height: 2em;
    border-radius: 5em;
    background: none;
    margin: 0 7em;
    display: inline-block;
    color: white;
    position: relative;
    border: solid 1px #c4da44;

    @media screen and (max-width: $break-large) {
      margin: 0 5.5em;
    }

    @media screen and (max-width: $break-large) {
      margin: 0 5em;
    }
  }

  li::before{
    content: '';
    position: absolute;
    top: 2.5em;
    left: -14.4em;
    width: 14.4em;
    height: .2em;
    background: #c4da44;
    z-index: -1;

    @media screen and (max-width: $break-large) {
      left: -11.4em;
      width: 11.4em;
    }

    @media screen and (max-width: $break-medium) {
      left: -10.4em;
      width: 10.4em;
    }

  }



  li:first-child::before {
    display: none;
  }
}


.mobile-list-contact-info{
  width: 100%;
  text-align: center;
  list-style: none;
  padding-left: 0;
  li {
    margin-bottom: 30px;
    i{
      width: 3em;
      height: 3em;
      text-align: center;
      line-height: 2em;
      border-radius: 5em;
      background: none;
      color: white;
      position: relative;
      border: solid 1px #c4da44;
    }
    p{
      font-size: 18px;
      margin: 15px 0;
    }
  }
}