#recipeBanner{
	background: url('/assets/images/recipe-banner.jpg');
	width: 100%;
	height: 476px;
}

#ourRecipeWrapper{
	background: url('/assets/images/our-recipe-bk.png') no-repeat;
	width: 100%;
	background-position: center 0;

	.section-title{
		margin-top: 120px;
		.img-wrapper{
			text-align: center;
			img{
				border: solid 12px rgba(0, 0, 0, 0.1);
				border-radius: 50%;
			}
		}
	}

	.section-content{
		.section-description{
			padding: 0 150px;
		}

		.recipes-wrapper{

			a {
				color: #333;

				img{
					-webkit-transition: 0.2s; /* Safari */
    				transition: 0.2s;
				}
			}

			a:hover {
				color: #BDD52D;
				text-decoration: none;
				img{
					margin-top: -3px;
				}
			}

		}

	}

	
}

.ind-recipe-wrapper{
		text-align: center;
		img{
			border-radius: 50%;
			border: solid 12px rgba(0, 0, 0, 0.1);
		}
		h4{	
			margin: 30px 0 10px;
			font-family: 'Amatic SC', cursive;
			font-size: 40px;
			font-weight: 900;
		}
		p{
			font-style: italic;
			font-size: 15px;
			line-height: 22px;
		}
		
}

.ind-product-wrapper {
	text-align: center;
	h5{
		  color: #d25a5d;
		  font-size: 22px;
		  font-weight: 100;
		}
}

#ourRecipesBottomBackground{
	background: url('/assets/images/our-recipe-bottom-bk.png');
	height: 434px;
	width: 100%;
	margin-top: 1%;
}

.recipes-wrapper {
	.img-wrapper{
		img{
			border-radius: 100%;
		}
	}
	.info-wrapper{
		p{
			text-align: left;
		}
	}
	h2, h1{
		font-family: 'Amatic SC', cursive;
		font-size: 40px;
		font-weight: 900;
		margin-top: 40px;
		margin-bottom: 20px;
	}

	ul, ol{
		li{
			font-size: 18px;
			padding: 5px 0;
			line-height: 26px;
			font-weight: 300;
		}
	}
}