$section-title-border: solid 3px #a0b61e;
.italic{font-style: italic;}
.center{text-align: center;}
$break-small: 760px;

.section-title{
	margin-left: auto;
	margin-right: auto;
	width: 40%;

	@media screen and (max-width: $break-small) {
		width: 80%;
	}

	h2{
		text-align: center;
		font-family: 'Amatic SC', Tahoma, Geneva, sans-serif;
		font-size: 55px;
	}

	.section-title-underline{
		background: #e6f87f;
		height: 3px;
		width: 120px;
		margin-left: auto;
		margin-right: auto;
	}
}

.section-content{
	margin-top: 3%;
	p{
		font-size: 20px;
		font-weight: 400;
		color: #8A8A8A;
		line-height: 180%;
		text-align: center;
	}
}

.section-description{
	font-style: italic;
	margin-bottom: 35px;
}

