$nav-bk: #f8f4f1;
$box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
$break-large: 1200px;
$break-medium: 992px;


#header{
	position: absolute;
	width: 100%;
	z-index: 99;
}

nav.main-nav{
	height: 80px;
	background: $nav-bk;
	width: 100%;
	margin-top: 86px;
	box-shadow: $box-shadow;
	z-index: 99;

	.nav-brand{
		-webkit-transition: 0.6s;
		transition: 0.6s;
	    margin-top: -50px;
	    width: 15%;
	    float: left;
	    margin-left: 5%;

		img{
			-webkit-transition: 0.6s;
			transition: 0.6s;
			background: $nav-bk;
			width: 180px;
			height: 180px;
			padding: 12px;
			border-radius: 50%;
		}
	}

	.main-nav-menu{
		float: left;
		width: 80%;

		.mobile-menu {
			display: none;
			height: 80px;

			@media screen and (max-width: $break-medium) {
				display: block;
			}

			#mobileMenuButton {
				font-size: 36px;
				color: #BDD52D;
				padding: 18px 25px;
				right: 0;
				position: absolute;
				z-index: 99999;
				background: none;
				border: 0;
				outline: 0;
			}

			#mobileMenuButton:focus {
				border: 0;
				outline: 0;
			}

			#mobileMenuButton:active {
				border: 0;
				outline: 0;
			}

			#popMenu {
				width: 200px;
				background: #f7f7f7;
				border: solid 2px #A0B61E;
				margin-top: 80px;
				display: none;
				position: absolute;
			    right: 15px;
				-webkit-transition: 0.3s;
				transition: 0.3s;

				.list-mobile-nav-menu{
					list-style: none;
				    padding: 0;
				    line-height: 45px;
				    margin-bottom: 0;

					li{
						border-bottom: solid 1px #ccc;
					    padding-left: 15px;
					    margin-right: 0;
					    a{
					    	color: #333;
					    	text-decoration: none;
					    }
					    a:hover{
					    	color: #A0B61E;
					    	text-decoration: none;
					    }
					}
				}
			}

			#popMenu.active {
				display: block;
			}

		}

		

		.list-main-nav-menu{
			list-style-type: none;
			float: right;
			height: 80px;
			margin-right: 5%;
			padding-top: 20px;

			@media screen and (max-width: $break-medium) {
				display: none;
			}

			#catalogDownloadButton {
			padding: 10px 20px;
			color: #fff;
			margin: -4px 0 0 10px;
			font-size: 16px;
			background: #BDD52D;
				a {
				  color: #fff;
				}
			}

			li{
				padding: 0 20px;
				display: inline-block;
				a{
					color: #333333;
					font-weight: 100;
					font-size: 20px;
				}
				a:hover{
					color: #BDD52D;
					font-weight: 100;
					text-underline: none;
					font-size: 20px;
				}
				a.active{
					border-bottom: solid 3px #a0b61e;
					padding-bottom: 24px;
				}
			}
		}


	}
}


.is-sticky {
	.sticky{
		#header {
			nav.main-nav {
				.nav-brand{
				    width: 15%;
				    float: left;
				    margin-left: 5%;
				    margin-top: 0;


					img{
					background: rgba(0,0,0,0);
					width: 83px;
					height: 83px;
					padding: 5px;
					border-radius: 50%;
					}	
				}	
			}
		}
	}
}

.is-sticky-mobile {
	top: -86px;
	.sticky{
		#header {
			nav.main-nav {
				.nav-brand{
				    width: 15%;
				    float: left;
				    margin-left: 5%;
				    margin-top: 0;


					img{
					background: rgba(0,0,0,0);
					width: 83px;
					height: 83px;
					padding: 5px;
					border-radius: 50%;
					}	
				}	
			}
		}
	}
}

#socialMediaIconsWrapper {
	right: 25px;
	position: fixed;
	bottom: 0;
	z-index: 99999;
	
	div{
		border-radius: 100%; 
		margin: 15px;
		float: left;
	}
	#fbIcon{
		background: #44619D;
		img {
			height: 60px;
			width: 60px;
		}
	}
	#pinterestIcon{
		background: #D11E16;
		img {
			height: 60px;
			width: 60px;
		}
	}
	#instagramIcon{
		background: #EAD9C4;
		img {
			height: 60px;
			width: 60px;
		}
	}
}