<div class="section-title">
	<div class="img-wrapper">
		<img src="/assets/images/recepies-1.png">
	</div>
	<h2>Codos con Chorizo</h2>
	<div class="section-title-underline"></div>
</div>

<div class="section-content">
	<div class="col-md-12">
		<p>
			Codos Del Sur fáciles, rápidos y jugosos, con una salsa de cebolla, zanahoria, tomate y chorizo fresco Del Sur, que podremos enriquecer con queso parmesano rallado.
		</p>
	</div>
	

	<div class="recipes-wrapper">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<h2>Ingredientes</h2>
					<ul>
						<li>1 Paquete de Pasta Codos Del Sur</li>
						<li>3 Chorizos Fresco Del Sur</li>
						<li>1 Cebolla Pequeña</li>
						<li>2 Zanahorias</li>
						<li>4 Dientes de Ajo</li>
						<li>4 Tomates Maduros</li>
						<li>100 Gr. de Queso Parmesano Rallado</li>
						<li>Aceite de Oliva</li>
						<li>Pimienta</li>
						<li>Sal</li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Preparacion</h2>
					<ol>
						<li>Como base para nuestros Codos con chorizo Del Sur, vamos a hacer un sofrito en una sartén con tres cucharadas de aceite de oliva, con la cebolla muy picadita, las zanahorias cortadas en daditos, y los dientes de ajo en finas láminas.</li>
						<li> Cuando el guiso esté listo (no hay más que observar el aspecto de la cebolla, que tiene que quedar transparente), haremos un hueco en medio de la sartén, y añadiremos el chorizo fresco Del Sur. El chorizo lo desmigajaremos directamente aplastando con una cuchara de palo, y lo dejaremos liberar sustancias unos minutos</li>
						<li> Mientras, iremos rallando 3 tomates, que luego echaremos a la sartén junto con las verduras, y el resto de la salsa.</li>
						<li>Los 10 minutos más que tendremos la salsa, son los 10 minutos que tardaremos en cocer los Codos Del Sur en una cazuela aparte, con agua y sal, pero sin aceite. Una vez cocidos, añadiremos los Codos Del Sur a la sartén con la salsa, y mezclaremos.</li>
						<li>En este momento es cuando podremos añadir un chorro de nata líquida (o crema de leche), o un puñado de queso parmesano rallado a los Codos Del Sur con chorizo Del Sur.</li>
					</ol>
				</div>
			</div>
			<div class="col-md-12">
				<h2>Products Used</h2>
				<div class="col-md-4">
	                <div class="ind-product-wrapper">
	                    <img src="/assets/images/products/small/elbows.png">
	                    <h5>Elbows</h5>
	                    <p>Codos<br/>16 0z pk12</p>
	                </div>
	            </div>
	            <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/colombian.png">
                        <h5>Colombian Sausage</h5>
                        <p>Chorizo Colombiano<br/>1lb pk20</p>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>	