<div class="section-title">
	<div class="img-wrapper">
		<img src="/assets/images/recepies-5.png">
	</div>
	<h2>Flan</h2>
	<div class="section-title-underline"></div>
</div>

<div class="section-content">

	<p class="section-description">
		This is one of my favorite deserts, a type of sweet dessert made of a smooth, thick custard covered with caramel.
	</p>

	<div class="recipes-wrapper">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<h2>Ingredients</h2>
					<ul>
						<li>2/3 cup white sugar(Del Sur)</li>
						<li>1 (14 ounce) can sweetened condensed milk(Del Sur)</li>
						<li>2 cups heavy cream</li>
						<li>1 cup milk</li>
						<li>5 eggs</li>
						<li>2 teaspoons vanilla extract</li>
						<li>Add all ingredients to list</li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Directions</h2>
					<ol>
						<li>Preheat oven to 350 degrees F (175 degrees C).</li>

						<li>In a small nonstick saucepan, heat the sugar over medium heat. Shake and swirl occasionally to distribute sugar until it is dissolved and begins to brown. Lift the pan over the heat source (4 to 6 inches) and continue to brown the sugar until it becomes a dark golden brown. You may slightly stir while cooking, but continually stirring causes the sugar to crystallize. Pour caramelized sugar into a 1 1/2 quart casserole dish or a large loaf pan, and swirl to coat the bottom of the pan evenly.</li>

						<li>In a blender, combine sweetened condensed milk, cream, milk, eggs and vanilla. Blend on high for one minute. Pour over the caramelized sugar.</li>

						<li>Place the filled casserole dish into a larger pan and add 1 inch of HOT water to the outer pan. Bake in preheated oven for 50 to 60 minutes, or until set.</li>
					</ol>
				</div>
				
			</div>
			<div class="col-md-12">
				<h2>Products Used</h2>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <div> 
                            <img src="/assets/images/products/small/condensed-milk.png">
                            <h5>Sweet Condensed Milk</h5>
                            <p>Leche Condensada<br>12oz pk24</p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>