<div class="section-title">
	<div class="img-wrapper">
		<img src="/assets/images/recepies-4.png">
	</div>
	<h2>Lomo Salteado con Chorizo</h2>
	<div class="section-title-underline"></div>
</div>

<div class="section-content">

	<p class="section-description">
		This is one of my favorite meal and is very quick and easy to make! Combine Del Sur chorizos, Del Sur chilli pepper, potatoes, and some other flavors to spice up the taste.
	</p>

	<div class="recipes-wrapper">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<h2>Ingredients</h2>
					<ul>
						<li>1 lb of potatos</li>
						<li>Vegetable oil as needed</li>
						<li>1/2 pound beef tri tip, sliced 1/8 to 1/4 inch thick</li>
						<li>1 pack of Delsur Colombian chorizos </li>
						<li>salt and pepper to taste</li>
						<li>1 large onion, sliced into strips</li>
						<li>3 large tomatoes, peeled, seeded, and sliced into strips</li>
						<li>1 yellow chili pepper (Del Sur)</li>
						<li>1/4 cup distilled white vinegar</li>
						<li>1 dash soy sauce to taste</li>
						<li>2 tablespoons chopped fresh parsley</li>
						<li>Add all ingredients to list</li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Directions</h2>
					<ol>
						<li>Cook potatos.</li>
						<li>While the potatoes are cooking, heat the oil in a frying pan over medium-high heat.
						Season the sliced meat with salt and pepper to taste. Fry the meat and chorizos until just 
						cooked, and the juices begin to release. Remove the meat and chorizos from the frying 
						pan, then cook the onions, with additional oil if needed, until they are transparent. Stir in 
						the tomato and aji amarillo; cook until the tomato softens. Pour in the vinegar and soy 
						sauce, add potatos, cover, and cook until the beef is done, about 3 minutes. Season to 
						taste with salt and pepper, and sprinkle with chopped parsley to serve.</li>
					</ol>
				</div>
				
			</div>
			<div class="col-md-12">
				<h2>Products Used</h2>
				<div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/colombian.png">
                        <h5>Colombian Sausage</h5>
                        <p>Chorizo Colombiano<br>1lb pk20</p>
                    </div>
                </div>
	            <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/yellow-chilli-pepper-in-brine.png">
                        <h5>Yellow Chilli Pepper In Brine</h5>
                        <p>Ajil Amarillo En Salmuera<br>4.7oz pk12</p>
                    </div>
                </div>
                
            </div>
		</div>
	</div>
</div>