<div class="section-title">
	<div class="img-wrapper">
		<img src="/assets/images/recepies-3.png">
	</div>
	<h2>Pork and Bean Stew</h2>
	<div class="section-title-underline"></div>
</div>

<div class="section-content">
	<div class="col-md-12">
		<p>
			A tasty platter made up of whole beans and bean puree into saucepan, along with pork cubes, chicken stock, Delsur chorizo, and bay leaves.
		</p>
	</div>
	

	<div class="recipes-wrapper">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<h2>Ingredients</h2>
					<ul>
						<li>2 tablespoons of Delsur sunflower oil</li>
						<li>1 teaspoon minced garlic</li>
						<li>1 large onion, chopped</li>
						<li>1 (12 ounce) pork tenderloin, cut into 1/2 inch cubes</li>
						<li>1 (19 ounce) can of Delsur black beans, drained and rinsed </li>
						<li>1/4 cup water</li>
						<li>1 1/2 cups chicken stock</li>
						<li>3 Delsur chorizo sausages, cut into 1/2 inch thick pieces</li>
						<li>2 bay leaves</li>
						<li>salt and pepper to taste</li>
						<li>Add all ingredients to list</li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Preparacion</h2>
					<ol>
						<li>Heat 1 tablespoon Delsur sunflower oil in a skillet over medium heat, stir in garlic and onion, and
						cook a few minutes until the onion softens and turns translucent. Remove the onion, and 
						place into a saucepan. Pour the remaining 1 tablespoon vegetable oil into the skillet, and 
						place over medium-high heat. Add cubed pork, and cook until well browned.</li>
						<li> Meanwhile, pour 3/4 of the Delsur black beans along with 1/4 cup water into the bowl of a
						blender, and pulse until finely chopped, but not quite smooth. Pour whole beans and bean 
						puree into saucepan along with pork cubes, chicken stock, Delsur chorizo, and bay leaves. Bring 
						to a boil over medium-high heat, then reduce heat to medium-low, cover, and simmer 30 
						minutes. Season to taste with salt and pepper before serving.</li>
						
					</ol>
				</div>
			</div>
			<div class="col-md-12">
				<h2>Products Used</h2>
				<div class="col-md-4">
	                <div class="ind-product-wrapper">
	                    <img src="/assets/images/products/small/black-beans.png">
                        <h5>Black Beans</h5>
                        <p>Frijoles Negros<br>4.7 0z pk12</p>
	                </div>
	            </div>
	            <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/colombian.png">
                        <h5>Colombian Sausage</h5>
                        <p>Chorizo Colombiano<br>1lb pk20</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/oil-small.png">
                        <h5>Sunflower Oil 1L</h5>
                        <p>Aceite De Girasol 1L<br>1L pk12</p>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>	