<div class="section-title">
	<div class="img-wrapper">
		<img src="/assets/images/recepies-2.png">
	</div>
	<h2>Rice with Beans</h2>
	<div class="section-title-underline"></div>
</div>

<div class="section-content">

	<p class="section-description">
		This is one of my favorite meal and is very quick and easy to make! Combine Del Sur rice, Del Sur beans, potatoes, and olives over the rice.
	</p>

	<div class="recipes-wrapper">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<h2>Ingredients</h2>
					<ul>
						<li>1 tablespoon Oil</li>
						<li>2 tablespoons Del Sur Onion Sofrito </li>
						<li>8 ounces Tomato Sauce</li>
						<li>2 cans Del Sur Beans</li>
						<li>1 1/2 cups Water</li>
						<li>Black Pepper, Garlic Powder and Oregano to Taste</li>
						<li>2 tablespoons Spanish Pimento-Stuffed Olives</li>
						<li>1/2 pound of Peeled Potatoes </li>
						<li>Combine with Del Sur Parboiled Long Grain Rice</li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Directions</h2>
					<ol>
						<li>In a medium saucepan, sauté sofrito in oil 2-3 minutes over medium heat. </li>
						<li>Add tomato sauce, beans, and water. Season with pepper, garlic powder, oregano and stir. Broth should be slightly salty since the potatoes will absorb much of the flavor.</li>
						<li>Add potatoes and olives and bring to a boil. </li>
						<li>Reduce heat to low and simmer until potatoes are cooked through, about 30 minutes or so, depending on their size.</li>
						<li>Serve over hot rice.</li>
					</ol>
				</div>
				
			</div>
			<div class="col-md-12">
				<h2>Products Used</h2>
				<div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/parboiled-long.png">
                        <h5>Parboiled Long Grain Rice 50lb</h5>
                        <p>Arroz De Grano Largo Precocido<br/>50 lb pk1</p>
                    </div>
                </div>
	            <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/tomatoe-onion-sofrito.png">
                        <h5>Tomatoe &amp; Onion Sofrito</h5>
                        <p>Hogao<br/>8.46 0z pk24</p>
                    </div>
                </div>
                <div class="col-md-4">
                   	<div class="ind-product-wrapper">
                       	<img src="/assets/images/products/small/cranberry-beans-smoked-flavored.png">
                       	<h5>Cranberry Beans Smoked Flavored</h5>
                       	<p>Frijol Cargamato Ahumado<br/>4.7 0z pk12</p>
                   	</div>
               	</div>
            </div>
		</div>
	</div>
</div>