<div class="catalog-categories-body" id="displayProductsSaltyWrapper">
        <div class="row">
            <div class="container">
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/crispitinas-garlic.png">
                        <h5>Crispitinas Garlic</h5>
                        <p>Crispitinas<br/>2.5 0z pk18</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/crispitinas.png">
                        <h5>Crispitinas Original</h5>
                        <p>Crispitinas<br/>2.5 0z pk18</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/chapitas-cheese.png">
                        <h5>Chapitas Cheese</h5>
                        <p>Chapitas<br/>2.5 0z pk18</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/chapitas.png">
                        <h5>Chapitas Original</h5>
                        <p>Chapitas<br/>2.5 0z pk18</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/cronchitas.png">
                        <h5>Cronchitas Cheese</h5>
                        <p>Cronchitas<br/>4 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/sea-salt-chips.png">
                        <h5>Cronchitas Original Sea Salt</h5>
                        <p>Cronchitas<br/>4 0z pk12</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
