<div id="aboutWrapper">
	<div id="aboutBanner">
		<div class="row">
			<div class="container">
				<div class="col-md-12">
					<div class="section-title">
						<h2>About Us</h2>
						<div class="section-title-underline"></div>
					</div>
					<div class="section-content">
						<p>We believe food brings people together on many different levels. It's nourishment of the soul and body, that’s why we strive to produce only the highest quality products.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="ourPhilosophyWrapper">
		<div class="row">
			<div class="container">
				<div class="col-md-10 col-md-offset-1">
					<div class="section-title">
						<h2>Our Philosophy</h2>
						<div class="section-title-underline"></div>
					</div>
					<div class="section-content">
						<p class="italic">We were born out of the necessity to provide the new generations with authentic food that met their healthy and natural lifestyle. At Del Sur our mission became a simple one; we were motivated to breach the gap between old and new, by providing delectable goods that are modern, fun, and innovative but never lowering our standards on quality, health, and culture. We are continually expanding our market, growing by leaps and bounds. Our objective of being in every store across the nation is closer every day. We want to surprise people’s palates with authentic Hispanic products that contain a twist of modern flavors with traditional roots. We know that once they have a taste of Del Sur they will discover we are passionately natural.</p>

						<div class="gmo-free-badges-wrapper">
							<div class="row">
								<div class="col-md-6 col-md-offset-3">
									<img src="assets/images/gmo-free-badges.png">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="aboutCallToAction">
		<div class="row">
			<div class="container">
				<div class="col-md-12">
					<div class="col-sm-10">
						<h1>CHECK OUT OUR CATALOG & LEARN ABOUT OUR PRODUCTS!</h1>
					</div>
					<div class="col-sm-2">
						<button>See Catalog</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="aboutOurFamilyWrapper">
		<div class="row">
			<div class="container">
				<div class="col-sm-12">
					<div class="section-title">
						<h2>Our Family</h2>
						<div class="section-title-underline"></div>
					</div>
					<div class="section-content">
						<p class="section-description">We were born out of the necessity to provide the new generations with authentic food that met their healthy and natural lifestyle. </p>

						<div class="our-team-image-wrapper">
							<img src="/assets/images/our-team.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{contact-section}}

</div>