<div id="catalogWrapper">
	<div id="catalogBanner">
		<div class="row">
			<div class="container">
				<div class="col-sm-12">
					<div class="catalog-banner-title">
						<h3>Our Product</h3>
						<h1>Categories</h1>
					</div>
					<div class="catalog-banner-categories-wrapper">
						<ul class="list-catalog-banner-categories">
							<li>
								<img src="/assets/images/category1.png">
								<p>Category Name</p>
							</li>
							<li>
								<img src="/assets/images/category2.png">
								<p>Category Name</p>
							</li>
							<li>
								<img src="/assets/images/category3.png">
								<p>Category Name</p>
							</li>
							<li>
								<img src="/assets/images/category4.png">
								<p>Category Name</p>
							</li>
							<li>
								<img src="/assets/images/category5.png">
								<p>Category Name</p>
							</li>
							<li>
								<img src="/assets/images/category6.png">
								<p>Category Name</p>
							</li>
							<li>
								<img src="/assets/images/category7.png">
								<p>Category Name</p>
							</li>
							<li>
								<img src="/assets/images/category8.png">
								<p>Category Name</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="ourPhilosophyWrapper">
		<div class="row">
			<div class="container">
				<div class="col-md-10 col-md-offset-1">
					<div class="section-title">
						<h2>Our Products</h2>
						<div class="section-title-underline"></div>
					</div>
					<div class="section-content">
						<p class="italic">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>

						<div class="gmo-free-badges-wrapper">
							<div class="row">
								<div class="col-md-6 col-md-offset-3">
									<img src="assets/images/gmo-free-badges.png">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="catalog-title-banner" id="catalogFruitTitleWrapper">
		<h1>Fruit (Jars)</h1>
	</div>

	<div class="catalog-categories-body" id="displayProductsFruitWrapper">
		<div class="row">
			<div class="container">
				<div class="col-md-4">
					<div class="ind-product-wrapper">
						<img src="/assets/images/products/small/soursop-in-syrup.png">
						<h5>Soursop In Syrup</h5>
						<p>Guanabana En Almbar<br/>4.7 0z pk12</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ind-product-wrapper">
						<img src="/assets/images/products/small/peach-palm-fruit.png">
						<h5>Peach Palm Fruit</h5>
						<p>Chontaduro/Pejbaye<br/>4.7 0z pk12</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ind-product-wrapper">
						<img src="/assets/images/products/small/figs-in-syrup.png">
						<h5>Figs In Syrup</h5>
						<p>Brevas<br/>4.7 0z pk12</p>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="catalog-title-banner" id="catalogPeruTitleWrapper">
        <h1>Peruvian Products</h1>
    </div>

    <div class="catalog-categories-body" id="displayProductsPeruWrapper">
        <div class="row">
            <div class="container">
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/garlic-paste.png">
                        <h5>Garlic Paste</h5>
                        <p>Ajo En Pasta<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/basil-pesto-paste.png">
                        <h5>Basil Pesto Paste</h5>
                        <p>Albahaca En Pasta<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/yellow-chilli-paste.png">
                        <h5>Yellow Chilli Paste</h5>
                        <p>Pasta De Aji Amarillo<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/panca-pepper-paste.png">
                        <h5>Panca Pepper Paste</h5>
                        <p>Aji Panca<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/red-hot-pepper-paste.png">
                        <h5>Red Hot Pepper Paste</h5>
                        <p>Pasta De Aji Rocoto<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/alfonso-olives-in-brine.png">
                        <h5>Alfonso Olives In Brine</h5>
                        <p>Aceitunas En Salmuera<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/red-hot-pepper-in-brine.png">
                        <h5>Red Hot Pepper In Brine</h5>
                        <p>Aji Rocoto En Salmurera<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/yellow-chilli-pepper-in-brine.png">
                        <h5>Yellow Chilli Pepper In Brine</h5>
                        <p>Aje Amarillo En Salmuera<br/>4.7 0z pk12</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="catalog-title-banner" id="catalogBakingTitleWrapper">
        <h1>Baking Mixes</h1>
    </div>

    <div class="catalog-categories-body" id="displayProductsBakingWrapper">
        <div class="row">
            <div class="container">
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/pandebono-mix.png">
                        <h5>Pandebono Mix</h5>
                        <p>Pandebono<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/bunuelo-mix.png">
                        <h5>Bunuelo Mix</h5>
                        <p>Bunuelos<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/yuca-bread-mix.png">
                        <h5>Yuca Bread Mix</h5>
                        <p>Pan De Yuca<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/traditional-custard.png">
                        <h5>Traditional Custard</h5>
                        <p>Natilla<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/churro-mix.png">
                        <h5>Churro-Mix</h5>
                        <p>Churros<br/>4.7 0z pk12</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="catalog-title-banner" id="catalogBeansTitleWrapper">
        <h1>Canned Beans</h1>
    </div>

    <div class="catalog-categories-body" id="displayProductsBeansWrapper">
        <div class="row">
            <div class="container">
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/black-beans.png">
                        <h5>Black Beans</h5>
                        <p>Frijoles Negros<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/cranberry-beans-antiqueno-style.png">
                        <h5>Cranberry Beans Antiqueno Style</h5>
                        <p>Frijol Antiqueno<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/cranberry-beans-spicy-hot.png">
                        <h5>Cranberry Beans Spicy Hot</h5>
                        <p>Frijol Cargamato Picante<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/cranberry-beans-smoked-flavored.png">
                        <h5>Cranberry Beans Smoked Flavored</h5>
                        <p>Frijol Cargamato Ahumado<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/cranberry-beans-water-salt.png">
                        <h5>Cranberry Beans with Water and Salt</h5>
                        <p>Frijol Cargamato en Agua y Sal<br/>4.7 0z pk12</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ind-product-wrapper">
                        <img src="/assets/images/products/small/cranberry-beans-tomatos-onions.png">
                        <h5>Cranberry Beans with Tomato and Onions</h5>
                        <p>Churros<br/>4.7 0z pk12</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

	{{contact-section}}
</div>