<div id="recipesWrapper">
	<div id="recipeBanner"></div>

	<div id="ourRecipeWrapper">
		<div class="row">
			<div class="container">
				<div class="col-md-12">
					<div class="section-title">
						<h2>Our Recipes</h2>
						<div class="section-title-underline"></div>
					</div>
					<div class="section-content">
						<p class="section-description">
							There is no place like Latin America that gives you such a diverse variety of flavors and ingredients that enables us to produce irresistible dishes. One of our desires is to share this passion for flavor with you, and in doing so, hope that your culinary experiments create something delicious and unforgettable. We love to share recipes that highlight the distinct flavors of Latin American cooking, and hope that you enjoy them as much as we do!
						</p>

						<div class="recipes-wrapper">
							<div class="row">
								<div class="col-md-3">
									{{#link-to 'recepie.codos-con-chorizo'}}
										<div class="ind-recipe-wrapper">
											<img src="/assets/images/recepies-1.png">
											<h4>Codos con Chorizo</h4>
											<p>Codos Del Sur fáciles, rápidos y jugosos!</p>
										</div>
									{{/link-to}}
								</div>
								<div class="col-md-3">
									{{#link-to 'recepie.rice-with-beans'}}
										<div class="ind-recipe-wrapper">
											<img src="/assets/images/recepies-2.png">
											<h4>Rice with Beans</h4>
											<p>Combination of Del Sur beans, potatoes, and olives over Del Sur Rice.</p>
										</div>
									{{/link-to}}
								</div>
								<div class="col-md-3">
									{{#link-to 'recepie.pork-and-bean-stew'}}
										<div class="ind-recipe-wrapper">
											<img src="/assets/images/recepies-3.png">
											<h4>Pork &amp; Bean Stew</h4>
											<p>A tasty platter made up of whole beans, pork cubes, and more!.</p>
										</div>
									{{/link-to}}	
								</div>
								<div class="col-md-3">
									{{#link-to 'recepie.lomo-salteado'}}
										<div class="ind-recipe-wrapper">
											<img src="/assets/images/recepies-4.png">
											<h4>Lomo Salteado</h4>
											<p>Combine Del Sur chorizo, Del Sur chilli pepper, potatoes..</p>
										</div>
									{{/link-to}}	
								</div>
							</div>
							<div class="row" style="margin-top: 50px;">
								<div class="col-md-3">
									{{#link-to 'recepie.flan'}}
										<div class="ind-recipe-wrapper">
											<img src="/assets/images/recepies-5.png">
											<h4>Flan</h4>
											<p>Sweet dessert made of a smooth, thick custard...</p>
										</div>
									{{/link-to}}	
								</div>
								<div class="col-md-3">
									{{#link-to 'recepie.tres-leches'}}
										<div class="ind-recipe-wrapper">
											<img src="/assets/images/recepies-6.png">
											<h4>Tres Leches</h4>
											<p>This light and fluffy tres leches cake recipe uses...</p>
										</div>
									{{/link-to}}	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="ourRecipesBottomBackground"></div>
	{{contact-section}}
</div>