<div id="recipesWrapper">
	<div id="recipeBanner"></div>

	<div id="ourRecipeWrapper">
		<div class="row">
			<div class="container">
				<div class="col-md-12">
					<div class="section-title">
						<h2>Our Recipes</h2>
						<div class="section-title-underline"></div>
					</div>
					<div class="section-content">
						<p class="section-description">
							At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
						</p>

						<div class="recipes-wrapper">
							<div class="row">
								<div class="col-md-3">
									<div class="ind-recipe-wrapper">
										<img src="http://placehold.it/210x210">
										<h4>Recipe 1</h4>
										<p>At vero eos et accusamus et iusto odio</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="ind-recipe-wrapper">
										<img src="http://placehold.it/210x210">
										<h4>Recipe 1</h4>
										<p>At vero eos et accusamus et iusto odio</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="ind-recipe-wrapper">
										<img src="http://placehold.it/210x210">
										<h4>Recipe 1</h4>
										<p>At vero eos et accusamus et iusto odio</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="ind-recipe-wrapper">
										<img src="http://placehold.it/210x210">
										<h4>Recipe 1</h4>
										<p>At vero eos et accusamus et iusto odio</p>
									</div>
								</div>
							</div>
							<div class="row" style="margin-top: 50px;">
								<div class="col-md-3">
									<div class="ind-recipe-wrapper">
										<img src="http://placehold.it/210x210">
										<h4>Recipe 1</h4>
										<p>At vero eos et accusamus et iusto odio</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="ind-recipe-wrapper">
										<img src="http://placehold.it/210x210">
										<h4>Recipe 1</h4>
										<p>At vero eos et accusamus et iusto odio</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="ind-recipe-wrapper">
										<img src="http://placehold.it/210x210">
										<h4>Recipe 1</h4>
										<p>At vero eos et accusamus et iusto odio</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="ind-recipe-wrapper">
										<img src="http://placehold.it/210x210">
										<h4>Recipe 1</h4>
										<p>At vero eos et accusamus et iusto odio</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="ourRecipesBottomBackground"></div>
	{{contact-section}}
</div>